@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

$hero-font-color: $body-background;
$projects-font-color: $body-font-color;
$projects-background: $body-background;

.button {
  border-radius: 4px;
}


.background {
  position: fixed;
  width: 100%;
  height: 100%;
}

.backgroundImg {
  background-color: $primary-color;
  background-position: center;
  // background-image: url('../img/introBackground.jpg');
  z-index: -9999;
}

.backgroundFilter {
  background-color: $body-background;
  z-index: -9998;
}


#header {
  * {
    background: transparent;
    color: $hero-font-color;
  }
  .navBtn {
    margin: 0 1rem;
    font-weight: $global-weight-bold;
  }
  .logo {
    padding-left: 1rem;
  }
}

#hero {
  height: 90%;
  width: 100%;

  * {
    color: $hero-font-color;
  }
}

#intro{
  height: 90%;
}


#projects {
  min-height: 50%;
  width: 100%;
  background-color: $body-background;
  color: $body-font-color;
  padding: 2em;
  .screenShot img{
    width: 100%;
  }
  .projectContainer{
    padding: 4em 0em;
    &:nth-child(even) {
      .screenShot {
        order:1;
      }
    }
  }
  .repoLink {
    float: right;
    font-weight: $global-weight-bold;
    color: $dark-gray;
    text-decoration: underline;
  }
}

#about {
  height: 100%;
  .filter {
    position: absolute;
    background-image: url('assets/img/marble.jpg');
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  background-color: $body-font-color;
  color: $body-background;
  min-height: 500px;
}

#footer > div {
  height: 10em;
  width: 100%;
  background-color: $warning-color;
  color: $dark-gray;
  p > small {
    padding: 0 1.5em;
  }
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
}
