#about {
  width: 100%;
  background-color: $primary-color;
  padding: 3em 0 3em;
  * {
    color: $body-background;
  }
  .aboutHead {
    padding: 2em;
    .aboutTitle {
      margin-bottom: 0;
    }
    .aboutSubtitle {
    }
    .socialLinkBar {
      padding: 1em;
      color: $body-background;
      img {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  }
}
#aboutContent {
  min-height: 50%;
  width: 100%;
  background-color: $body-background;
  color: $body-font-color;
  padding: 2em;
  .screenShot img{
    width: 100%;
  }
  .projectContainer{
    padding: 4em 0em;
    &:nth-child(even) {
      .screenShot {
        order:1;
      }
    }
  }
  .repoLink {
    float: right;
    font-weight: $global-weight-bold;
    color: $dark-gray;
    text-decoration: underline;
  }
}
