#blog {
  $divider: 1px solid $light-gray;
  width: 100%;
  min-height: 100%;
  background-color: $body-background;
  color: $body-font-color;
  padding: 3em 0 3em;
  .blogHead {
    padding: 2em 0;
    .blogTitle {
      margin-bottom: 0;
    }
    .blogSubtitle {
    }
    .socialLinkBar {
      padding: 1em;
      // border-bottom: 2px solid $primary-color;
    }
  }
  .article {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $light-gray;
    &:first-child{
      padding-top: 1em;
      border-top: $divider;
    }
  }
  .date {
    color: $dark-gray;
  }
  .contentWrapper {
    margin: 1em 0;
    padding: 4em 0;
    border-top: $divider;
  }
}
