<h1 id="-blogs-one-title-">{{blogs.one.title}}</h1>
<p>We almost always use $http inside a service, because services are where we deal with stuff that can be shared throughout the app (like data from an API). But usually when we get a response back, a controller needs to know about it. So how do we get this asynchronous response back to the controller?</p>
<h4 id="the-problem">The Problem</h4>
<p>Let&#39;s say when a button is clicked, our controller needs to update the view with fresh information from our clogs API, and our ClogsService needs to store this new information so other controllers can use it.</p>
<h4 id="the-typical-method-then-">The typical method - .then()</h4>
<p>The $http function returns a promise, which has a .then() method which will be called in the controller when a response comes back from our API. Like so:</p>
<pre><code class="lang-javascript">app.controller(&#39;DisplayController&#39;, [&#39;$scope&#39;, &#39;ClogsService&#39;, function($scope, ClogsService){
  $scope.clogs = [];
  $scope.getClogs = function() {
    ClogService.getClogs()
      .then(function(response){
        ClogsService.clogs = response.data;
          $scope.clogs = ClogsService.clogs;
      });
    };
})

app.service(&#39;ClogsService&#39;, [&#39;$http&#39;, function($http){
  this.clogs = [];
  this.getClogs = function(){
    return $http.get(&#39;/API/clogs&#39;);
  };
}]);
</code></pre>
<p>Good enough. Our service makes the $http request, and our controller is able to update both $scope and the ClogsService. But there are some issues with this method. Ideally, all the data management would happen in the service, not the controller. We want to keep our controller skinny!</p>
<h4 id="a-better-way-watch">A better way - $watch</h4>
<p>In this approach, we put response handling in the service and ask the controller to watch the service for changes so it knows when to update the scope. Angular already has a way to watch scoped variables for change: $scope.$watch. But we want to watch the <em>service</em>. So what do we do? How about this:</p>
<pre><code class="lang-JavaScript">app.controller(&#39;DisplayController&#39;, [&#39;$scope&#39;, &#39;ClogsService&#39;, function($scope, ClogsService){
  $scope.clogs = [];
  $scope.clogWatcher = function(){ return ClogsService.clogs };
  $scope.$watch(&#39;clogWatcher&#39;, function(newClogs){ $scope.clogs = newClogs }, true);
})
app.service(&#39;ClogsService&#39;, [&#39;$http&#39;, function($http){
  this.clogs = [];
  this.getClogs = () =&gt; {
    $http.get(&#39;/API/clogs&#39;)
      .then((response) =&gt; {
        this.clogs = response.data;
      });
  };
}]);
</code></pre>
<p>This is an improvement. We put a function on the scope that returns the service property we want to watch: clogs. Now we can $watch this function for changes, and update $scope.clogs when it does. In this way, we avoid putting the whole ClogsService on the scope in order to watch it. Remember, putting things on the scope is costly, because it gets checked during Angular&#39;s digest cycle.</p>
<p>There is the added benefit that <em>any</em> controller can watch the service and update it&#39;s scope on a change.</p>
<p>But this method is not perfect. Putting the clogWatcher function on the scope is kinda awkward, especially if we&#39;re not using it explicitly in the view.</p>
<p>PS: The last argument in $watch, &quot;true,&quot; tells watch to check whatever it is watching for equivalence, not just reference</p>
<h4 id="getting-fancy-event-emitters">Getting fancy - Event Emitters</h4>
<p>Coming soon ...</p>
