<form id="sendEmailForm" class="form" action="MAILTO:mpr75@cornell.edu" method="post" enctype="text/plain">
  <div class="row align-right">

    <div class="column small-12" required>
      <label class="show-for-sr">message:</label>
      <textarea placeholder="Hi Paul, please join our team of mutant superheros. - Professor X" rows="5"></textarea>
    </div>

    <div class="column small-12 large-5">
      <label class="show-for-sr">name:</label>
      <input type="text" id="Name" placeholder="Name">
    </div>

    <div class="column small-10 large-5" required>
      <label class="show-for-sr">email:</label>
      <input type="email" id="Name" placeholder="email">
    </div>

    <div class="column">
      <input type="submit" class="button formSendButon" value="send">
    </div>

  </div>
</form>
