<div id="header">
  <div class="row menuBar">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title"></div>
    </div>
    <div class="top-bar column" id="example-menu">
      <div class="top-bar-left">LOGO</div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="navBtn"><a class="local" href="{{root}}">PROJECTS</a></li>
          <li class="navBtn"><a class="local" href="{{root}}/blog.html">BLOG</a></li>
          <li class="navBtn"><a class="local" href="{{root}}/about">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
