<section class="menuBar">
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar" id="example-menu">
    <div class="top-bar-left">
      TEST
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a class="local" href="#projects">Projects</a></li>
        <li><a class="local" href="#page">Blog</a></li>
        <li><a class="local" href="#about">About</a></li>
      </ul>
    </div>
  </div>
</section>
