<div id="projects">
  <div class="row align-center">
    <div class="column small-12 medium-10 xlarge-12">
      {{#each projects}}
        <div class="row align-middle projectContainer">
          <div class="column small-12 medium-6 large-4 screenShot">
            <img src="{{root}}assets/img/{{imageUrl}}" alt="">
          </div>
          <div class="column sdescription">
            <h3 class="projectTitle">{{title}}</h3>
            <p>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
