<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageInfo.title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <!-- highlight JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>
  <body id='page'>
    {{#ifpage 'index'}}
      <div class="fade background backgroundFilter"></div>
    {{/ifpage}}
    {{#ifpage 'about'}}
      <div class="fade background backgroundFilter"></div>
    {{/ifpage}}
    {{> header}}
    {{> body}}
    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72417540-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>
